body
{

	text-align:center;
  font-family: sans-serif;
}
h1
{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin-top:40px;
  color:#371B58;
}

h2
{

}

h3
{
  color:#070D59;

}

.top
{
  background-color:#82DBD8;
	position:relative;
	padding-top:80px;

}

a{
	text-decoration: none;
	margin: 20px auto;
	font-family: sans-serif;

}

a:hover
{
	color:#EAF6F6;
}
.topimg{
  height: 10px;
  width: 100%;
  border-radius: 100%;
}

.pro{
  text-decoration: underline;
}

img:hover
{
  color:#EAF6F6;
}

.code-img{
  width:300px;
  height:300px;
  margin: 35px 50px auto 150px;
	float: left;
}


.learn-img{
  width:300px;
  height:300px;
  margin: 50px 50px auto 150px;

}

.learn-text
{
  text-align: left;
}
.contact-me
{
  margin-top: 30px;
}
.top-cloud
{
  position:relative;
  left:300px;
	top:5px;

}

.bottom-cloud
{
  position:absolute;
  bottom:320px;
  left:120px;

}

.bottom-image
{
  position:relative;
  top:40px;
}

.profile
{
  margin-top:60px;
  position:relative;
  margin-bottom: 20px;
}

.intro
{
	width:20%;
	text-align: center;
	margin:auto;
}

.skill-row1
{

}

.skill-row2
{

}

.skills{
  margin:35px auto 40px auto;
}
hr{
  background-color: white;
  border-style:none;
  border-top-style:dotted;
  width:5%;
	margin:70px auto;
}

.top-intro
{
  font-size: 1.1rem;

}

.footer-text
{
	width:43%;
	margin: 50px auto 50px auto;
}

.bottom-container
{
	background-color:#82DBD8;
	margin-top: 30px;
	height:80px;
padding-top: 20px;
}

.footer-link2
{
	margin-left: 15px;
	margin-right: 15px;
}

.copyright
{
	font-size:0.80rem;
	padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/*.bottom-container {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2%;
   background-color: #dda0dd;
   color: white;
   text-align:center;
   font-family:Times New Roman;
   font-size: 25px;
 }*/
/*.middle-container
{
	height:200px;
	width: 200px;
	background-color: blue;
	border: solid 20px;
	margin-left:200px;
}
.bottom-container
{
	height:200px;
	width: 200px;
	background-color: purple;
	border: solid 10px;
	margin-left:400px;
}*/
